@use "foundations" as *;
@use "components/index" as *;
@use "./components/Input/input";

$primary-color: #e4bc38;

@mixin heading-defalts {
    font-weight: 200;
    color: #454545;
}


h1 {
    color: $primary-color;
    @include heading-defalts;
    padding: $space-4;
}

.swatch {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
  

  div{
    width:100px;
    height:100px;
    font-size: $font_size;
    color: $font-color;
  }

  .primary-100{
    background-color: $primary-color-100;
  }
  .primary-300{
    background-color: $primary-color-300;
  }
  .primary-500{
    background-color: $primary-color-500;
  }
  .primary-700{
    background-color: $primary-color-700;
  }
  .primary-900{
    background-color: $primary-color-900;
  }

  .secondary-100{
    background-color: $secondary-color-100;
  }
  .secondary-300{
    background-color: $secondary-color-300;
  }
  .secondary-500{
    background-color: $secondary-color-500;
  }
  .secondary-700{
    background-color: $secondary-color-700;
  }
  .secondary-900{
    background-color: $secondary-color-900;
  }

  .grayScale-100{
    background-color: $grayScale-color-100;
  }
  .grayScale-300{
    background-color: $grayScale-color-300;
  }
  .grayScale-500{
    background-color: $grayScale-color-500;
  }
  .grayScale-700{
    background-color: $grayScale-color-700;
  }
  .grayScale-900{
    background-color: $grayScale-color-900;
  }
}

.space-text{
  color: $grayScale-color-100;
}

.spacing-box {
  height: 16px;


  .space-1 { 
    width: $space-1; 
    background-color: $primary-color-700;
  }
  .space-2 { 
    width: $space-2; 
    background-color: $primary-color-700;
  }
  .space-3 { 
    width: $space-3; 
    background-color: $primary-color-700;
  }
  .space-4 { 
    width: $space-4; 
    background-color: $primary-color-700;
  }
  .space-5 { 
    width: $space-5; 
    background-color: $primary-color-700;
  }
  .space-6 { 
    width: $space-6; 
    background-color: $primary-color-700;
  }
  .space-7 { 
    width: $space-7; 
    background-color: $primary-color-700;
  }
  .space-8 { 
    width: $space-8; 
    background-color: $primary-color-700;
    
  }
}


