@use "foundations" as *;
$primary-color: #e4bc38;

@mixin heading-defalts {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #454545;
}

p{
    background-color: orange;

    button {
        color: rgb(196, 163, 54);
    }
}

h1 {
    color: $primary-color;
    @include heading-defalts;
    padding: $spacing;
}

.swatch {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  

  div{
    width:100px;
    height:100px;
    font-size: $font_size;
    color: $font-color;
  }

  .primary-100{
    background-color: $primary-color-100;
  }
  .primary-300{
    background-color: $primary-color-300;
  }
  .primary-500{
    background-color: $primary-color-500;
  }
  .primary-700{
    background-color: $primary-color-700;
  }
  .primary-900{
    background-color: $primary-color-900;
  }

  .secondary-100{
    background-color: $secondary-color-100;
  }
  .secondary-300{
    background-color: $secondary-color-300;
  }
  .secondary-500{
    background-color: $secondary-color-500;
  }
  .secondary-700{
    background-color: $secondary-color-700;
  }
  .secondary-900{
    background-color: $secondary-color-900;
  }
}

