@use "../../foundations/" as *;

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  input {
    display: none;
  }
}

.radio-custom {
  width: 16px;
  height: 16px;
  border: 2px solid $primary-color-700;
  border-radius: 50%;
  position: relative;
}

.radio-custom {
  border-color: $primary-color-300;
}

.radio-custom::after {
  width: 8px;
  height: 8px;
  background: $primary-color-300;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}