<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../../working_with_sass/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buttons Page</title>
    </head>
    <body>
        <nav class="nav">
            <ul class="nav__list">
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../../../docs/colours.html">Colours</a></li>
                <li><a href="../../../docs/spacing.html">Spacing</a></li>
                <li><a href="../../../docs/typography.html">Typography</a></li>
                <li><a href="button.html"><b>Buttons</b></a></li>
                <li><a href="../Input/input.html">Inputs</a></li>
                <li><a href="../Password/password.html">Password inputs</a></li>
                <li><a href="../Select/select.html">Selects</a></li>
                <li><a href="../Radio/radio.html">Radio buttons</a></li>
                <li><a href="../Cheackbox/checkbox.html">Checkboxes</a></li>
            </ul>
        </nav>
        <h1>Buttons</h1>

        
        <p>
            <div>
                <button class="bt-default">
                    <imput class="bt-text">
                        Default Button
                    </imput> 
                </button>
                <button class="bt-hover">
                    <imput class="bt-text">
                        Button While Hovered
                    </imput>
                </button>
                <button class="bt-pressed">
                    <imput class="bt-text">
                        Button While Pressed
                    </imput>
                </button>
            </div>
        </p>
    </body>
</html>