@use "../../foundations/" as *;

.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
  max-width: 300px;
}

.input-label {
  font-size: 14px;
  color: $secondary-color-100;
}

.input-field {
  padding: 10px 12px;
  border: 1px solid $primary-color-300;
  border-radius: 8px;
  font-size: 14px;

  &::placeholder {
    color: $primary-color-700;
  }

  &:focus {
    border-color: $primary-color-300;
    box-shadow: 0 0 0 2px $primary-color-300;
  }
}

.input-helper {
  font-size: 12px;
  color: $primary-color-700;
}

.input-group--error {
  .input-field {
    border-color: #d64545;
  }

  .input-helper {
    color: #d64545;
  }
}

.input-group--success {
  .input-field {
    border-color: #2e9e6f;
  }

  .input-helper {
    color: #2e9e6f;
  }
}

.input-field:focus {
  border-color: $primary-color-300;
}

.input-field:disabled {
  background-color: $grayScale-color-700;
  color: $grayScale-color-500;
  cursor: not-allowed;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}