@use "../../foundations/" as *;

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper .input-field {
  width: 100%;
  padding-right: 60px; // space for button
}

.input-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 12px;
  color: #3b5bcc;
  cursor: pointer;
}