@use "../../foundations/" as *;

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  width: 100%;
  padding-right: 60px; // space for button
}

.input-toggle {
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: $primary-color-300;
  cursor: pointer;
}