@use "../../foundations/" as *;

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  input {
    display: none;
  }
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 2px solid #8aa0c6;
  border-radius: 4px;
  position: relative;
}

.checkbox-custom {
  background: $primary-color-300;
  border-color: $primary-color-300;
}

.checkbox-custom::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
}