@use "../index" as *;
@use "../../foundations/" as *;

.nav {
  background-color: $primary-color-300;
  padding: 1rem;


  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
}

.nav a {
    color: $primary-color-300;
}
.nav {
    background-color: $secondary-color-700;
}