@use "../../foundations/" as *;

.select-field {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $primary-color-700;
  border-radius: 8px;
  font-size: 14px;
  background: white;
  cursor: pointer;

  &:focus {
    border-color: $primary-color-300;
  }
}

.select-wrapper::after {
  right: 12px;
  top: 50%;
}